@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por : Marco Adarme
 */


body{
	width:961px;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}

#banner{
	background-color:#ffffff;
	background-image:url("portada-web.png");
	background-position:bottom center;
	
	 height: 200px; 
      width: auto; 
       
       background-size:contain;
       background-repeat:no-repeat;

	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	
}
#banner .titulo{
	margin:15px 0;
	color:#c31111;
	text-align:right;
	margin-right:200px;
	font-size:23px;
	font-weight:bold;
}
#banner .subtitulo{
	color:#c31111;
	text-align:right;
	margin-right:200px;
	font-size:18px;
	font-weight:normal;
}

.fotobanner{
	position: absolute;
	top:10px;
	left:970px; 
	height: 120px;
	width: 100px;
}

#contenido{
	border:2px solid #CCC;
	background-color:#FFF;
	margin:0 auto;
	width:96%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#pie{
	color:#FFF;
	background-color:#fff;
	margin:0 auto;
	margin-top:10px;
	width:100%;
	padding:20px 0;
	text-align:center;
	background-color:#e08282;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00); /* css3 */
}
#pie a{
	color:#FFF;
	text-decoration:none;
}
.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}

h1{ 
	color:#c31111; 
	margin:0;
	text-align: center;
}

.home{
position: relative;
width: 961px;
height: 500px;
background:#FA8072;
}

.name{
position: absolute;
width: 245px;
height: 82px;
left: 27px;
top: 5px;

font-family: SeoulNamsan CEB;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
}

.summary{
position: absolute;
width: 388px;
height: 271px;
left: 54px;
top: 100px;

font-family: SeoulNamsan CEB;
font-style: normal;
font-weight: normal;
font-size: 18px;
}

.mifoto{
position: absolute;
width: 250px;
height: 279px;
left: 580px;
top: 50px;
}

.instagram{
position: absolute;
width: 250px;
height: 250px;
left: 100px;
top: 65px;
}
.casita{
position: absolute;
width: 29px;
height: 29px;
left: 850px;
top: 320px;	
}
#rect5{
position: absolute;
width: 900px;
height: 360px;
left: 32px;
top: 90px;
bottom: 99px;
right: 28px;

background:#FFFFFF;
}

.fb{
position: absolute;
left: 388px;
top: 192px;
width:96px; 
height:86px;
background-image: url(https://clipground.com/images/facebook-logo-png-transparent-background-black-1.png);
}

#banner .nombre{
	top:50px;
	left: 50px;
}

a{
	color:black;
	text-decoration: none;
}

button[class|="rect"]{
width: 220px;
height: 50px;
text-decoration: none;
top:300px;
}

button.rect-1{
	position:absolute;
	top:20px;
	left:40px;
	color: white;
	background-color:#FF0000;
	text-align: center;
}

button.rect-2{
	position:absolute;
	top:20px;
	left:260px;
	background-color:white;
	text-align: center;
	color: black;
}

button.rect-3{
	position:absolute;
	top:20px;
	left:480px;
	background-color:#FF0000;
	color: white;
	text-align: center;
}

button.rect-4{
	position:absolute;
	top:20px;
	left:700px;
	background-color:white;
	text-align: center;
	color: black;
}

.dropdown{
	width: 220px;
	height: 50px;
	text-decoration: none;
	position:absolute;
	top:20px;
	left:260px;
	background-color:white;
	text-align: center;
	color: black;
}

.boton{
	background-color: white;
	border: none;
	height: 50px;
	width: 220px;
}

.dropdown-menu{
	background-color: white;
	height: 60px;
	width: 220px;
}

table {
   position: absolute;
   width: 800px;
   border: 1px solid #000;
   top:80px;
   left: 50px;
}
tr, td {
   width: 30px;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-spacing: 0;
}



